{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block body %}
<h1>Bienvenue dans notre boutique !</h1>

<ul>
    {% for sweatshirt in sweatshirts %}
        <li>{{ sweatshirt.name }} - {{ sweatshirt.price }} €

            {% if sweatshirt.image %}
                <br>
                <img src="{{ asset('uploads/' ~ sweatshirt.image) }}" alt="{{ sweatshirt.name }}" width="120">
            {% else %}
                <br>
                Pas d'image
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock %}
