.labelUsername,
.labelPassword {
  margin-bottom: 5px;
}

.form-control {
  height: 25px;
}

.password-container {
  position: relative;
  margin-bottom: 15px;
}

.input-group {
  display: flex;
  align-items: center;
  position: relative;
}

.password-container input {
  width: 90%;
  padding: 8px;
}

.password-icon {
  position: absolute;
  display: flex;
  right: 20px;
  cursor: pointer;
  gap: 5px;
}

.password-icon:hover {
  cursor: pointer;
  transform: translateY(-5%);
}

.eye-off {
  display: block;
  color: grey;
}

.eye-on {
  color: grey;
  display: none;
}
