.payment-title {
  margin: 50px 0;
}

.payment-link {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  margin-top: 110px;
}

.payment-link:hover {
  color: #0f53f1;
  text-decoration: underline;
}
