.register-form label {
  display: block;
  margin-bottom: 5px;
}

.register-form input,
.register-form select,
.register-form textarea {
  display: block;
  width: 90%;
  padding: 8px;
  margin-bottom: 10px;
}
