body {
  background-color: #f6f3f2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  overflow: auto;
}

.separator {
  border: none;
  border-top: 2px solid #ddd;
  margin: 10px 10px 10px 0;
}
