<h1>Activation de votre compte sur Stubborn !</h1>
<p>Bonjour {{ user.username|default('') }}</p>
<p>Pour activer votre compte sur Stubborn, merci de cliquez sur le lien ci-dessous :</p>
<p><a href="{{ signedUrl }}">Accéder à ma page Accueil</a></p>
<p>Merci,<br>L'équipe Stubborn</p>


