{% extends 'base.html.twig' %}

{% block title %}Paiement annulé{% endblock %}

{% block body %}
    <h1 class="payment-title">Paiement annulé </h1>
    <a href="{{ path('app_cart') }}" class="payment-link">Retourner au panier</a>
{% endblock %}
