{% extends 'base.html.twig' %}

{% block title %}Paiement réussi{% endblock %}

{% block body %}
    <h1 class="payment-title">Votre paiement a été effectué avec succès !</h1>
    <a href="{{ path('app_shop') }}" class="payment-link">Retourner à la boutique</a>
{% endblock %}
